			 .wrap {
			     height: 1080px;
			 }
			.MAIN{/*width="1280"*/
			    overflow: auto;
			    padding-bottom: 100px;
			    width: 1800px;
			}
				#Theme{
				    display: inline;
				    position: absolute;
				    left: 700px;
			   		top: 150px;
				}
				#LOG{
				    display: inline;
				    position: absolute;
				    left: 700px;
			   		top: 350px;
				}
				#UserInfo{
				    display: inline;
				    position: absolute;
				    left: 500px;
			   		top: 550px;
				}
				#ItemList{
				    display: inline;
				    position: absolute;
				    left: 300px;
			   		top: 280px;
				}
				#Cost{
				    display: inline;
				    position: absolute;
				    left: 500px;
			   		top: 830px;
				}
				#Digits{
				    display: inline;
				    position: absolute;
				    left: 670px;
			   		top: 815px;
				}
				#Checkout{
				    display: inline;
				    position: absolute;
				    left: 1040px;
			   		top: 810px;
				}
				#Play{
				    display: inline;
				    position: absolute;
				    top: 520px;
				    left: 1300px;
				}
				#Content{
				    display: inline;
				    position: absolute;
				    left: 600px;
			   		top: 250px;
				}
				#Content_pic{
				    display: inline;
				    position: absolute;
				    left: 200px;
			   		top: 850px;
				}